<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img width="30" height="30" src="https://cdn.svgporn.com/logos/prismic-icon.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">COD CAtegoria</th>
                        <th scope="col">COD Subcategoria</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha Caducidad</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subcategoria of subcategorias">
                        <td>{{subcategoria.cod_categoria}}</td>
                        <td>{{subcategoria.cod_sub_categoria}}</td>
                        <td>{{subcategoria.nombre}}</td>
                        <td>{{subcategoria.descripcion}}</td>
                        <td>{{subcategoria.fecha_creacion}}</td>
                        <td>
                            <a (click)="deleteSubcategoria(subcategoria.cod_sub_categoria)" title="Eliminar" name="eliminar" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">CODIGO CATEGORIA</label>
                        <input [(ngModel)]="subcategoria.cod_categoria" type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ciudad">CODIGO SUBCATEGORIA</label>
                        <input [(ngModel)]="subcategoria.cod_sub_categoria" type="text" class="form-control" id="ciudad" name="ciudad" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Nombre</label>
                    <input [(ngModel)]="subcategoria.nombre" type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="capacidad">Descripcion</label>
                        <input [(ngModel)]="subcategoria.descripcion" type="text" class="form-control" name="descripcion" id="descripcion" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fecha_creacion">Fecha Creacion</label>
                        <input [(ngModel)]="subcategoria.fecha_creacion" type="date" name="fecha_inaguracion" class="form-control" id="fecha_inaguracion" required>
                    </div>
                </div>
                <button (click)="addSubcategoria()" type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</div>